:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --van-search-left-icon-color: var(--primary-color);
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}
body {
  font-size: 14px;

}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}